.redable1{
	background-color: #29abe2;
	text-align: center;
}
.redable2{
	color: white;
}
.redable3{
	background-color: white;
	margin-bottom: 10px;
}
.redable4{
	color: #29abe2;
	font-weight: 600;
}
.redable5{
	background-color: #29abe2;
	text-align: center;
	border-left: 2px solid white;
}